APP_HYDRA_ADMIN_URL="http://localhost:4445"
APP_CLIENT_BASE_URL="http://localhost:4002"
APP_MONGODB_URI="mongodb://root:2B3s2Ih1YYxO@localhost/hydra-identity-manager"
APP_CORS_ORIGIN="http://localhost:5002"
APP_HYDRA_ADMIN_USERNAME="user"
APP_HYDRA_ADMIN_PASSWORD="password"